<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<div layout:fragment="content" class="content">	
<div class="container mt-3">
    <form action="/notice/insertlist" method="get">
       <div class="mb-3">
            <label for="title">제목:</label> <input type="text"
                                                      class="form-control" id="title" placeholder="Enter title"
                                                      name="title">
        </div>
        <div class="mb-3">
            <label for="writer">작성자:</label> 
            <input type="text"
				class="form-control" id="writer" name="writer"
				th:value="${admin.role}" 
				readonly="readonly">
        </div>
        <div class="mb-3 mt-3">
            <label for="content">내용:</label>
            <textarea class="form-control" rows="10" id="content" name="content"></textarea>
        </div>
        <input type="hidden" name="user.userId" th:value="${admin.userId}">
        <button type="submit" class="btn btn-primary">글쓰기</button>
    </form>
</div>

</div>
</html>