<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/boardLayout}">


<div layout:fragment="content" class="content">
	<div class="container mt-3">
		<h2>자유게시판</h2>
		<div class="d-flex justify-content-end">
			<button class="btn btn-secondary btn-sm" type="button"
				onclick="writeform()">글 쓰기</button>
		</div>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>No.</th>
					<th>제목</th>
					<th>작성자</th>
					<th>작성일</th>
					<th>조회</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="board : ${boards}">
					<td th:text="${board.num}"></td>
					<td><a th:href="@{boardview/{num}(num=${board.num})}"
						th:text="${board.title}"></a></td>
					<td th:text="${board.user.name}"></td>
					<td><span
						th:text="${#dates.format(board.regdate, 'yyyy-MM-dd')}"></span></td>
					<td th:text="${board.hitcount}"></td>
				</tr>
			</tbody>
		</table>
		
 		<!-- 페이징 -->
		<div class="container mt-3">
	    <ul class="pagination justify-content-center">
        <li class="page-item" th:classappend="${boards.first} ? 'disabled' : ''">
            <button class="pagination-btn" th:disabled="${boards.first}"
                th:onclick="|location.href='@{/board/boardlist(page=1, field=${field}, word=${word})}'|">&laquo;</button>
        </li>
        <li class="page-item" th:classappend="${boards.first} ? 'disabled' : ''">
            <button class="pagination-btn" th:disabled="${boards.first}"
                th:onclick="|location.href='@{/board/boardlist(page=${boards.number}, field=${field}, word=${word})}'|">이전</button>
        </li>
        <li class="page-item" th:each="page : ${#numbers.sequence(startPage, endPage)}">
            <button class="pagination-btn" 
                th:classappend="${page == boards.number + 1} ? 'active' : ''" 
                th:onclick="|location.href='@{/board/boardlist(page=${page}, field=${field}, word=${word})}'|" 
                th:text="${page}">
            </button>
        </li>
        <li class="page-item" th:classappend="${boards.last} ? 'disabled' : ''">
            <button class="pagination-btn" th:disabled="${boards.last}"
                th:onclick="|location.href='@{/board/boardlist(page=${boards.number + 2}, field=${field}, word=${word})}'|">다음</button>
        </li>
        <li class="page-item" th:classappend="${boards.last} ? 'disabled' : ''">
            <button class="pagination-btn" th:disabled="${boards.last}"
                th:onclick="|location.href='@{/board/boardlist(page=${boards.totalPages}, field=${field}, word=${word})}'|">&raquo;</button>
        </li>
	    </ul>
	  </div>


		<!-- 하단 검색창 -->
		<div>
			<form class="d-flex justify-content-between" action="list"
				method="get">
				<select class="form-select" name="field">
					<option value="content">내용</option>
					<option value="title">제목</option>
				</select> <input type="text" class="form-control" id="word"
					placeholder="Enter Word" name="word">
				<button class="btn btn-secondary btn-sm">Search</button>
			</form>
		</div>

		<script>
			function writeform() {
				location.href = "/board/write"

			}
		</script>

	</div>
</div>
</html>
