<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/seniorLayout}">

<div layout:fragment="content" class="content">
	<div class="container py-5">
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <div class="card card-custom">
                <div class="card-body p-4">
                    <div class="profile-img-container mb-2">
                        <img th:src="@{/img/defaultMale.png}" alt="Profile image">
                    </div>
                    <p class="text-center text-muted mb-3" id="email" th:text="${myInfo.email}">user@example.com</p>
                    
					<div class="centered-container">
					                   
                    <!-- 사용자 정보 -->
                    <div class="input-group">
					    <label class="input-label" for="gender"></label>
					    <div class="radio-group">
					        <input type="radio" id="male" name="gender" th:value="Male" th:text="남성" th:checked="${myInfo.gender == 'Male'}" >
					        
					        <input type="radio" id="female" name="gender" th:value="Female" th:text="여성" th:checked="${myInfo.gender == 'Female'}" >
					    </div>
					</div>
					<div class="input-group">
					    <label class="input-label" for="hasGuardian"></label>
					    <div class="radio-group">
					    	<span>*보호자 유무 </span>
					        <input type="radio"  name="hasGuardian" th:value="true" th:text="있음" th:checked="${seniorInfo.hasGuardian == true}" >
					        
					        <input type="radio"  name="hasGuardian" th:value="false" th:text="없음" th:checked="${seniorInfo.hasGuardian == false}" >
					    </div>
					</div>
                    <div class="input-group">
	                    <strong>이름</strong><input type="text" class="underline-input" name="name" 
	                    th:value="${myInfo.name != null ? myInfo.name : ''}" placeholder="이름" />
                    </div>
                    <div class="input-group">
	                    <strong>권한</strong><input type="text" class="underline-input" name="role" 
	                    th:value="${myInfo.role != null ? myInfo.role : ''}" readonly="readonly" />
                    </div>
                    <div class="input-group">
	                    <strong>가입일</strong><input type="text" class="underline-input" name="createdAt" 
	                    th:value="${#temporals.format(myInfo.createdAt, 'yyyy-MM-dd HH:mm')}" readonly="readonly" />
                    </div>
                    <div class="input-group">
	                    <strong>주소</strong><input type="text" class="underline-input" name="address" 
	                    th:value="${myInfo.address != null ? myInfo.address : ''}" placeholder="주소" />
                    </div>
                   
                    <div class="input-group">
	                    <strong>연락처</strong><input type="text" class="underline-input" name="phoneNumber" 
	                    th:value="${myInfo.phoneNumber != null ? myInfo.phoneNumber : ''}" placeholder="연락처" />
                    </div>
                    
                    <!-- 특정 정보 -->
                    <div class="input-group">
	                    <strong>건강상태</strong><input type="text" class="underline-input" name="health" 
	                    th:value="${seniorInfo.health != null ? seniorInfo.health : ''}" placeholder="건강상태" />
                    </div>
                    <div class="input-group">
	                    <strong>요구사항</strong><input type="text" class="underline-input" name="requirements" 
	                    th:value="${seniorInfo.requirements != null ? seniorInfo.requirements : ''}" placeholder="요구사항" />
                    </div>
                    
                    <!-- 보호자 정보 -->
                    <div class="input-group guardian-info" style="display:none;" >
	                    <strong>보호자 이름</strong><input type="text" class="underline-input" name="guardianName" 
	                    th:value="${guardInfo.guardianName != null ? guardInfo.guardianName : ''}" placeholder="보호자 이름" />
                    </div>
                    <div class="input-group guardian-info" style="display:none;" >
	                    <strong>보호자 연락처</strong><input type="text" class="underline-input" name="guardianPhoneNumber" 
	                    th:value="${guardInfo.guardianPhoneNumber != null ? guardInfo.guardianPhoneNumber : ''}" placeholder="보호자 연락처" />
                    </div>
                    <div class="input-group guardian-info" style="display:none;">
	                    <strong>보호자와의 관계</strong><input type="text" class="underline-input" name="relationship" 
	                    th:value="${guardInfo.relationship != null ? guardInfo.relationship : ''}" placeholder="보호자와의 관계" />
                    </div>
                    
                    
                    <!-- 비밀번호 -->
                    <div class="input-group">
	                    <strong>비밀번호</strong><input type="password" class="underline-input" name="password" placeholder="새 비밀번호" />
					</div>
					<div class="input-group">
					    <strong>비밀번호 확인</strong><input type="password" class="underline-input" name="passwordConfirm" placeholder="새 비밀번호 확인" />
					</div>
                    <!-- 작업 버튼 -->
                    <div class="d-flex justify-content-around">
                        <button type="button" class="btn btn-outline-primary" id="edit">정보 수정</button>
                        <button type="button" class="btn btn-outline-warning" id="editPw">비밀번호 변경</button>
                        <a href="/user/logout" type="button" class="btn btn-outline-danger">로그아웃</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

<script th:inline="javascript">

// 나의 정보 수정
$(document).on("click", "#edit", function(){
	if(!confirm("회원 정보를 변경하시겠습니까?")){
		return false
	}
	// 기본사항
	var loginId = /*[[${loginId}]]*/ 'defaultUserId'
	var emailValue = /*[[${myInfo.email}]]*/ 'defaultEmail';
	var genderValue = $("input[name='gender']:checked").val(); 
    var nameValue = $("input[name='name']").val(); 
    var addressValue = $("input[name='address']").val(); 
    var phoneNumberValue = $("input[name='phoneNumber']").val();
    
    // 특정사항
    var healthValue = $("input[name='health']").val();
    var requireValue = $("input[name='requirements']").val();
    var hasGuarValue = $("input[name='hasGuardian']:checked").val(); 
    
    // 보호자 사항
    var gNameValue = $("input[name='guardianName']").val();
    var gPhValue = $("input[name='guardianPhoneNumber']").val();
    var gRelValue = $("input[name='relationship']").val();
    
    
    var editData = {
		"userId": loginId,
		"email": emailValue,
		"gender": genderValue,
		"name": nameValue,
		"address": addressValue,
		"phoneNumber": phoneNumberValue,
		"health": healthValue,
		"requirements": requireValue,
		"hasGuardian": hasGuarValue,
		"guardianName": gNameValue,
		"guardianPhoneNumber": gPhValue,
		"relationship": gRelValue
	}
	var csrfToken = $("meta[name='_csrf']").attr("content");
    var csrfHeader = $("meta[name='_csrf_header']").attr("content");
	
    $.ajax({
		type: "PUT",
		url: "/seniorPage/edit",
		contentType: "application/json",
		data: JSON.stringify(editData),
		/* dataType: "json", */
		beforeSend: function(xhr) {
            xhr.setRequestHeader(csrfHeader, csrfToken);
        }
	})
	.done(function(resp){
		alert(resp+"님의 정보 수정완료!");
		
	})
	.fail(function(e){
		alert("정보 수정실패"+ e);
	})
})

// 비밀번호 변경
$(document).on("click", "#editPw", function(){
	var loginId = /*[[${loginId}]]*/ 'defaultUserId'
	var pwValue = $("input[name='password']").val();
	var pwConfirmValue = $("input[name='passwordConfirm']").val()
	var csrfToken = $("meta[name='_csrf']").attr("content");
    var csrfHeader = $("meta[name='_csrf_header']").attr("content");
 	
    // 비밀번호와 비밀번호 확인 값이 일치하는지 검증
    if (pwValue !== pwConfirmValue) {
        alert("새 비밀번호가 일치하지 않습니다.");
        $("input[name='passwordConfirm']").val("");
        return; // 비밀번호 불일치시 아래 AJAX 호출을 중단
    }
	$.ajax({
		type: "PUT",
		url: "/userPage/editPw",
		contentType: "application/json",
		data: JSON.stringify({
			"userId": loginId,
			"password": pwValue
		}),
		
		beforeSend: function(xhr) {
            xhr.setRequestHeader(csrfHeader, csrfToken);
        }
	})
	.done(function(resp){
		alert("비밀번호 변경 완료!");
		$("input[name='password']").val("");
		$("input[name='passwordConfirm']").val("");
	})
	.fail(function(e){
		alert("비밀번호 변경 실패"+ e);
		$("input[name='password']").val("");
		$("input[name='passwordConfirm']").val("");
	})
})

$(document).ready(function() {
    // 페이지 로드 시 보호자 정보 입력 칸의 초기 상태 설정
    updateGuardianInfoVisibility();

    // "보호자 유무" 라디오 버튼의 상태 변경 감지
    $("input[name='hasGuardian']").change(function() {
        updateGuardianInfoVisibility();
    });

    function updateGuardianInfoVisibility() {
        // "있음"이 선택되었는지 확인
        if ($("input[name='hasGuardian']:checked").val() === 'true') {
            // "있음" 선택 시, 보호자 정보 입력 칸 표시
            $(".guardian-info").show();	// .slideDown();
        } else {
            // "없음" 선택 시, 보호자 정보 입력 칸 숨김
            $(".guardian-info").hide();	// .slideUp();
        }
    }
});


</script>	
</div>
